* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.chislo{
	border-radius: .25rem;
    border-color: #343a40;
    width: 50px;
}
.card-header{
	display: flex;
	flex-direction: column;
	min-height: 100%;}
.container{
	flex: 1 0 auto;
}
card-footer{flex: 1 0 auto;}
.col-sm-3{
	width: 100%;
}
.btn-outline-dark{
	width: 150px;
}
